@font-face {
  font-family:'MyriadProRegular'; 
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot'); 
  src: local('MyriadProRegular'),
       url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
       url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
}
@font-face {
  font-family:'SegoeWP'; 
  src: url('../fonts/SegoeWP/SegoeWP.eot'); 
  src: local('SegoeWP'),
       url('../fonts/SegoeWP/SegoeWP.woff') format('woff'),
       url('../fonts/SegoeWP/SegoeWP.ttf') format('truetype');
}